.nav-bg {
  width: 100%;
  height: 100;
  background-color: #4a555f;
}

.nav {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 4px;
  background-color: var(--color-slategray-dark);
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 0.3em;
}

.nav__item {
  display: grid;
  width: 100%;
  color: var(--color-white);
  justify-self: center;
  background: var(--color-slategray);
  border-radius: 4px;
  padding: 0.8em;
  margin: 0.3em;
}

.nav__item--active {
  display: grid;
  width: 100%;
  color: var(--color-white);
  justify-self: center;
  background: var(--color-slategray-darker);
  border-radius: 4px;
  padding: 0.8em;
  margin: 0.3em;
}

.nav__icon {
  height: 32px;
  justify-self: center;
  align-self: center;
}
