.profile {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-items: start;
  grid-gap: 1em;
  margin: 2em;
}

.profile__img {
  border-radius: 50%;
}

.profile__name {
}

.profile__heading {
  margin-bottom: 0.5em;
}
.profile__about-me {
  padding: 0 2em;
}

.profile__skills {
  margin: 2em;
}
.profile__skills-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
}

.profile__skills-item {
  display: inline;
  border: 1px solid #4a555f;
  border-radius: 5px;
  padding: 4px 6px;
}

.profile__button {
  display: flex;
  margin: 6em auto;
  border: 2px solid #4a555f;
  border-radius: 4px;
  text-align: center;
  background-color: white;
  padding: 6px 16px;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 100%;
}
