.profile {
  margin: 2em;
}
.profile__user {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 1em;
  margin-bottom: 2em;
}

.profile__user-img {
  border-radius: 50%;
}

.profile__heading {
  margin-bottom: 0.5em;
}

.profile__skills {
  margin: 2em 0;
}

.profile__skills-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
}

.profile__skills-item {
  display: inline;
  border: 1px solid var(--color-slategrey-dark);
  border-radius: 5px;
  padding: 4px 6px;
}

.profile__button {
  display: flex;
  margin: 6em auto;
  border: 2px solid #4a555f;
  border-radius: 4px;
  text-align: center;
  background-color: var(--color-slategrey-dark);
  padding: 6px 16px;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 100%;
  color: var(--color-white);
}
