*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 112.5%;
  line-height: 1.3;
  color: #4a555f;
}

body {
  width: 100%;
  margin: 0 auto;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

.heading {
  text-align: center;
  color: white;
}

button {
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: white;
  color: #4a555f;
  white-space: nowrap;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

h2,
h3 {
  line-height: 1;
}

form {
  display: grid;
  gap: 20px;
}
