.mb-20 {
  margin-bottom: 20px !important;
}

.mb-05em {
  margin-bottom: 0.5em;
}
.mb-2em {
  margin-bottom: 2em;
}

.mb-5em {
  margin-bottom: 5em;
}

.h-500 {
  height: 500px;
}

.h-100vh {
  height: 100vh;
}

.bg-blue {
  background-color: skyblue;
}

.bg-coral {
  background-color: coral;
}

.bg-hotpink {
  background-color: slategray;
}
