.hidden {
  display: none;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-05em {
  margin-bottom: 0.5em;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-2em {
  margin-bottom: 2em;
}

.mb-5em {
  margin-bottom: 5em;
}

.ml-2em {
  margin-left: 2em;
}

.mr-2em {
  margin-right: 2em;
}

.mt-2em {
  margin-top: 2em;
}

.h-500 {
  height: 500px;
}

.h-100vh {
  height: 100vh;
}

.bg-blue {
  background-color: skyblue;
}

.bg-coral {
  background-color: coral;
}

.bg-head {
  background-color: slategray;
}
